.infoPet {
	margin-top: 77px;
	background-color: $accent;
	padding: 30px 0;
	&__title {
		@include text('Montserrat', 24px, 700, $main2);
		text-align: center;
	}
	&__text {
		@include text('Montserrat', 16px, 500, $main2);
		padding-top: 25px;
		&-span {
			@include text('Montserrat', 16px, 700, $main2);
		}
	}
}
@media (max-width: 380px) {
	.infoPet {
		margin-top: 25px;
		background-color: $accent;
		padding: 20px 0;
		&__title {
			@include text('Montserrat', 15px, 700, $main2);
			text-align: center;
		}
		&__text {
			@include text('Montserrat', 10px, 500, $main2);
			padding-top: 10px;
			&-span {
				@include text('Montserrat', 12px, 700, $main2);
			}
		}
	}
}
