@import 'variables.scss';
.help {
	margin-top: 65px;
	background-color: #799351a6;
	text-align: center;
	&__block {
		text-align: start;
		align-items: center;
		display: flex;
		justify-content: space-between;
		&-info {
			max-width: 950px;
			&-title {
				margin: 40px 0;
				@include text('Montserrat', 20px, 700, $main);
			}
			&-text {
				@include text('Montserrat', 16px, 500, $main);
				&-white {
					color: $main2;
					font-weight: 700;
				}
			}
		}
		margin-bottom: 30px;
	}
	&__btn {
		@include btn($main2, $main);
		display: inline-block;
		margin-bottom: 40px;
		&:hover {
			background-color: #799351a6;
		}
	}
	margin-bottom: 65px;
}
@media (max-width: 380px) {
	.help {
		margin-top: 30px;
		background-color: #799351a6;
		text-align: center;
		&__block {
			flex-direction: column;

			&-info {
				max-width: 370px;
				&-title {
					margin: 15px 0;
					@include text('Montserrat', 10px, 700, $main);
				}
				&-text {
					@include text('Montserrat', 10px, 500, $main);
					&-white {
						color: $main2;
						font-weight: 700;
					}
				}
			}
			margin-bottom: 10px;
		}
		&__btn {
			padding: 5px 10px;
			font-size: 10px;
			border-radius: 5px;
			margin-bottom: 15px;
		}
		margin-bottom: 30px;
	}
}
